<h2>Champions League</h2>
<h3>Team 29</h3>
<br>
<p>Kerrie Shanks: B00714393</p>
<p>Dylan Smith: B00684995</p>
<p>Jordan Smith: B00713152</p>
<p>Mark Spiers: B00717502</p>
<p>Ross Steele: B00682632</p>
<p>Curtis Tarr: B00650312</p>
<p>Aoife Teague: B00690952</p>