<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Champions League</title>

    <!-- Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Main css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
<div ng-app="app" ng-controller="AppCtrl as ctrl">
    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Champions League</a>
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" ng-click="showPanel('home')" ng-class="{active: homeVisible}">Home</a>
                </li>
                <li>
                    <a class="nav-link" ng-click="showPanel('teams')" ng-class="{active: teamsVisible}">Teams</a>
                </li>
                <li>
                    <a class="nav-link" ng-click="showPanel('players')" ng-class="{active: playersVisible}">Players</a>
                </li>
                <li>
                    <a class="nav-link" ng-click="showPanel('matches')" ng-class="{active: matchesVisible}">Matches</a>
                </li>
                <li>
                    <a class="nav-link" ng-click="showPanel('scores')" ng-class="{active: scoresVisible}">Scores</a>
                </li>
                <li>
                    <a class="nav-link" ng-click="showPanel('managers')" ng-class="{active: managersVisible}">Mangers</a>
                </li>
                <li>
                    <a class="nav-link" ng-click="showPanel('stadiums')" ng-class="{active: stadiumsVisible}">Stadiums</a>
                </li>
                <li>
                    <a class="nav-link" ng-click="showPanel('referees')" ng-class="{active: refereesVisible}">Referees</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Panels -->
    <main role="main" class="container">
        <home-panel ng-show="homeVisible"></home-panel>
        <scores-panel ng-show="scoresVisible"></scores-panel>
    </main>
</div>

<!-- Scripts loaded at the bottom so page loads faster -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='ajaxRequests.js')}}"></script>

<!-- Bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="{{url_for('static', filename='angular_components/app.js')}}"></script>
<script src="{{url_for('static', filename='angular_components/homePanel.js')}}"></script>
<script src="{{url_for('static', filename='angular_components/scoresPanel.js')}}"></script>
</body>

</html>