<!-- Alert that is shown/hidden for errors -->
<div class="alert alert-danger alert-dismissible" ng-show="alertVisible">
    <button type="button" class="close" aria-label="Close" ng-click="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    [[alertText]]
</div>

<h2>Scores</h2>

<!-- Table to hold add score inputs -->
<table class="table">
    <td>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text">Match ID</label>
            </div>
            <select class="custom-select" ng-model="newScore.match_id">
                <option selected value="">Choose match without score</option>
                <option ng-repeat="id in matchesWithoutScores" ng-value="[[id]]">[[id]]</option>
            </select>
        </div>
    </td>
    <td>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Home Score</span>
            </div>
            <input type="text" class="form-control" ng-model="newScore.home_score">
        </div>
    </td>
    <td>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Away Score</span>
            </div>
            <input type="text" class="form-control" ng-model="newScore.away_score">
        </div>
    </td>
    <td>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Match Length</span>
            </div>
            <input type="text" class="form-control" ng-model="newScore.match_length">
        </div>
    </td>
    <td>
        <button type="button" class="btn btn-outline-success" ng-click="addScore()">+</button>
    </td>
</table>

<!-- Table showing all scores -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Home Team</th>
        <th scope="col">Home Score</th>
        <th scope="col">Away Score</th>
        <th scope="col">Away Team</th>
        <th scope="col">Match Length</th>
        <th scope="col">Match ID</th>
        <th scope="col">Referee</th>
        <th scope="col">Stadium</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="score in scores">
        <th scope="row">[[score.scoreId]]</th>
        <td>[[score.homeTeam]]</td>
        <td>
            <div ng-hide="score.editing">[[score.homeScore]]</div>
            <div class="input-group" ng-show="score.editing">
                <input type="text" class="form-control" ng-model="score.homeScore">
            </div>
        </td>
        <td>
            <div ng-hide="score.editing">[[score.awayScore]]</div>
            <div class="input-group" ng-show="score.editing">
                <input type="text" class="form-control" ng-model="score.awayScore">
            </div>
        </td>
        <td>[[score.awayTeam]]</td>
        <td>
            <div ng-hide="score.editing">[[score.matchLength]] mins</div>
            <div class="input-group" ng-show="score.editing">
                <input type="text" class="form-control" ng-model="score.matchLength">
            </div>
        </td>
        <td>
            <div ng-hide="score.editing">[[score.matchId]]</div>
            <select class="custom-select" ng-show="score.editing" ng-model="score.matchId">
                <option selected ng-value="[[score.originalMatchId]]">[[score.originalMatchId]]</option>
                <option ng-repeat="id in matchesWithoutScores" ng-value="[[id]]">[[id]]</option>
            </select>
        </td>
        <td>[[score.refereeName]]</td>
        <td>[[score.stadiumName]]</td>
        <td>[[score.date]]</td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="tweetScore(score)">Tweet</button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-secondary" ng-click="editScore(score)" ng-hide="score.editing">
                Edit
            </button>
            <button type="button" class="btn btn-outline-success" ng-click="updateScore(score)" ng-show="score.editing">
                Save
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger" ng-click="deleteScore(score.scoreId)">X</button>
        </td>
    </tr>
    </tbody>
</table>